*,
::after ::before {
  box-sizing: border-box;
}

:root {
  --main-font: "Roboto", sans-serif;
  --primary-font: "Raleway", sans-serif;
  --normal-text-color: #212121;
  --paragraph-text-color: #757575;
  --link-color: #2196f3;
  --white: #ffffff;
  --secondary-background-color: #2f303a;
  --button-color: #f5f4fa;
}

body {
  font-family: var(--main-font);
  max-width: 100%;
  font-family: "Roboto", "Raleway" sans-serif;
  color: var(--normal-text-color);
}

.position {
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-items {
  display: flex;
  align-items: center;
}
.nav-items {
  display: flex;
  color: var(--normal-text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.logo-position {
  width: 145px;
  height: 31px;
  margin-left: 215px;
  margin-top: 25px;
}

.social-links-position {
  width: 254px;
  height: 16px;
  margin-left: 91px;
  margin-top: 33px;
  align-items: stretch;
}

.contacts-position {
  margin-left: 372px;
  margin-top: 32px;
}

.nav-1 {
  margin-right: 47px;
}

.nav-2 {
  margin-right: 46px;
}
.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-info {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;

  color: var(--paragraph-text-color);
}

/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover,
a:focus,
a::before,
a::after {
  color: var(--link-color);
}

.slogan {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background: var(--secondary-background-color);
  color: var(--white);
}

.main-section {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 26px;

  background: var(--secondary-background-color);
}

button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.36;
  background: var(--button-color);

  /* display: flex;
  align-items: center; */

  /* letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */
  border-style: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--link-color);
  transition: 0.7s;
  color: var(--white);
}

/* .button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #0d3251;
  transition: 0.7s;
} */

.blue-button:hover,
.blue-button:hover {
  transition: 0.7s;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}

.blue-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: var(--white);
}

.button-text {
  margin-left: auto;
  margin-right: auto;
}

.pics-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.our-team {
  background-color: var(--button-color);
  justify-content: center;
  flex-wrap: wrap;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.paragraph-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.paragraphs {
  display: flex;
}
.paragraph-text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--paragraph-text-color);
}

/* .nav-button {
  text-decoration: none;
} */

footer {
  background-color: var(--secondary-background-color);
}

.footer-items a {
  color: var(--white);
}

address {
  font-style: normal;
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Portfolio: */

.image-box-container {
  position: relative;
  width: 1600px;
  height: 1880px;
  margin-left: 215px;
  margin-right: 215px;
}

.image-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
