*,
::after ::before {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

:root {
  --main-font: "Roboto", sans-serif;
  --primary-font: "Raleway", sans-serif;
  --normal-text-color: #212121;
  --paragraph-text-color: #757575;
  --link-color: #2196f3;
  --white: #ffffff;
  --secondary-background-color: #2f303a;
  --button-color: #f5f4fa;
  --border-color: #ececec;
  --contacts: rgba(255, 255, 255, 0.6);
  --icons: #afb1b8;
  --background: rgba(47, 48, 58, 0.4);
}

body {
  font-family: var(--main-font);
  width: 1600px;
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--normal-text-color);
}

.position {
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0 auto;
}
.nav-bar {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  height: 80px;
}

.menu-items {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  color: var(--normal-text-color);
  font-size: 14px;
  justify-content: space-around;
  gap: 47px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

span {
  color: var(--normal-text-color);
}

.logo-position {
  width: 145px;
  height: 31px;
}

.social-links-position {
  padding-left: 91px;
}

.contacts-position {
  padding-left: 372px;
  gap: 30px;
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--normal-text-color);
}
.contact-info {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;

  color: var(--paragraph-text-color);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active,
a::after,
a::before {
  color: var(--normal-text-color);
}

a:hover,
a:focus,
a::before,
a::after {
  color: var(--link-color);
}

.slogan {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  padding-top: 200px;
  padding-bottom: 30px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--secondary-background-color);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
}

button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  background: var(--button-color);
  text-align: center;
  letter-spacing: 0.03em;
  border-style: none;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border: none;

  border-style: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--link-color);
  color: var(--white);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.blue-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: var(--white);
  margin-bottom: 197px;
}

.our-team {
  background-color: var(--button-color);
  margin-top: 92px;
}

.pics-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  width: 1200px;
}

.picture {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 270px;
  margin: 0;
  padding: 0;
}

.third {
  background-color: var(--button-color);
}

.team-container {
  width: 1200px;
  background-color: var(--button-color);
  text-align: center;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 0px;
  padding-bottom: 50px;
  margin: 0px;
}

.what-we-do {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin: 0px;
}

.paragraph-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.paragraphs {
  display: flex;
  width: 1200px;
  justify-content: space-around;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.paragraph-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
  padding-top: 10px;
}

address {
  font-style: normal;
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.contacts {
  color: var(--contacts);
}

/* Portfolio: */

figure {
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0 94px 0px;
}

.second {
  padding-top: 0;
}

.filter-container {
  padding: 94px 0 94px 0px;
  justify-content: center;
}

.image-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  gap: 30px;
}

.fig-cap {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
  color: var(--normal-text-color);
  letter-spacing: 0.06em;
}

.fig-cap-secondary {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
  color: var(--paragraph-text-color);
  letter-spacing: 0.03em;
}

.name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--normal-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

.job {
  font-size: 16px;
  line-height: 1.2;
  color: var(--paragraph-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 16px;
}

.item {
  margin: 0;
  padding: 0;
  width: auto;
}
.poster {
  width: 370px;
  height: 404px;
  background: var(--white);
  border: 1px solid #eeeeee;

  margin: 0 auto;
}

.poster:hover,
.poster:focus {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

/* Footer */

footer {
  background-color: var(--secondary-background-color);
}

.footer-span {
  color: var(--white);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.footer-items {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  line-height: calc(24 / 14);
  gap: 9px;
}

.footer-box {
  display: flex;
  justify-items: flex-start;
}

.join-us {
  display: flex;
  margin-right: 648px;
  margin-left: 70px;
}

.invite {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 20px;
  padding-top: 12px;
}

.footer-sm {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
  fill: var(--white);
}

.footer-sm-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
}

.footer-sm-circle:hover {
  background-color: var(--link-color);
  cursor: pointer;
}

.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.link-icon:hover {
  color: var(--link-color);
}

.contact-icon svg:hover {
  fill: var(--link-color);
}

.link-icon {
  cursor: pointer;
  fill: var(--paragraph-text-color);
  display: inline-flex;
  margin-right: 10px;
  align-self: center;
}

.icon-bg {
  background-color: var(--button-color);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.sm-icons {
  display: flex;
  justify-content: center;
}

.icon-circle {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  padding: 12px;
  fill: var(--icons);
}

.icon-circle:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 30px;
}
.icon-circle:hover .social-icon {
  fill: var(--white);
  cursor: pointer;
}
.icon-circle:hover {
  background-color: var(--link-color);
  cursor: pointer;
  fill: var(--white);
}

.filler {
  color: var(--white);
}
.our-clients {
  display: flex;
  justify-content: center;
}

.client-area {
  display: flex;
  border: solid var(--icons) 1px;
  border-radius: 4px;
  width: 172px;
  height: 92px;
  justify-content: center;
}

.client-area:not(:last-child) {
  margin-right: 30px;
}
.client-container {
  display: flex;
  width: 106px;
  height: 60px;
  justify-content: center;
  align-self: center;
}

.client-icon {
  display: flex;
  justify-content: center;
  align-self: center;
  fill: var(--paragraph-text-color);
}
