*,
::after ::before {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

:root {
  --main-font: "Roboto", sans-serif;
  --primary-font: "Raleway", sans-serif;
  --normal-text-color: #212121;
  --paragraph-text-color: #757575;
  --link-color: #2196f3;
  --white: #ffffff;
  --secondary-background-color: #2f303a;
  --button-color: #f5f4fa;
  --border-color: #ececec;
  --contacts: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--main-font);
  width: 1600px;
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--normal-text-color);
}

.position {
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0 auto;
}
.nav-bar {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  height: 80px;
  /* padding-left: 215px;
  padding-right: 227px;
  padding-bottom: 25px;
  padding-top: 24px;
  margin: 0; */
}

.menu-items {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  color: var(--normal-text-color);
  font-size: 14px;
  justify-content: space-around;
  gap: 47px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

span {
  color: var(--normal-text-color);
}

.footer-span {
  color: var(--white);
}
.logo-position {
  width: 145px;
  height: 31px;
}

.social-links-position {
  padding-left: 91px;
}

.contacts-position {
  padding-left: 372px;
  gap: 51px;
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--normal-text-color);
}
.contact-info {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;

  color: var(--paragraph-text-color);
}

/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

a:active,
a::after,
a::before {
  color: var(--normal-text-color);
}
/* mouse over link */

a:hover,
a:focus,
a::before,
a::after {
  color: var(--link-color);
}

.slogan {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background: var(--secondary-background-color);
  color: var(--white);
  padding-top: 200px;
  padding-bottom: 30px;
}

.main-section {
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--secondary-background-color);
}

button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  background: var(--button-color);
  text-align: center;
  letter-spacing: 0.03em;
  border-style: none;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border: none;

  /* display: flex;
  align-items: center; */

  /* letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */
  border-style: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--link-color);
  /* transition: 0.7s; */
  color: var(--white);
}

/* .button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #0d3251;
  transition: 0.7s;
} */

.button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.blue-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: var(--white);
  margin-bottom: 197px;
}

.our-team {
  background-color: var(--button-color);
  margin-top: 92px;
}

.pics-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  width: 1200px;
  /* margin-left: 215px;
  margin-right: 215px; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  gap: 30px; */
}

.picture {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 270px;
  margin: 0;
  padding: 0;
}

.picture figcaption {
  /* padding-top: 27px;
  padding-bottom: 27px;
  box-sizing: border-box; */
}

.team-container {
  width: 1200px;
  background-color: var(--button-color);
  padding-bottom: 98px;
  /* margin-left: 215px;
  margin-right: 215px; */

  text-align: center;
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* .our-team {
  background-color: var(--button-color);
  justify-content: center;
  flex-wrap: wrap;
} */

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 92px;
  padding-bottom: 50px;
  margin: 0px;
}

.paragraph-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.paragraphs {
  display: flex;
  width: 1200px;
  /* margin-left: 215px;
  margin-right: 215px; */
  padding-top: 94px;
  justify-content: space-around;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.paragraph-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
  padding-top: 10px;
}

/* .nav-button {
  text-decoration: none;
} */

footer {
  background-color: var(--secondary-background-color);
}

address {
  font-style: normal;
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.contacts {
  color: var(--contacts);
}

/* Portfolio: */

figure {
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.filter-container {
  padding: 94px 0 94px 0px;
  /* gap: 8px; */
  justify-content: center;
}

.image-box-container {
  /* display: grid;
  grid-gap: 30px;
  justify-content: center;
  grid-template-columns: repeat(3, calc(33.33% - 30px)); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  gap: 30px;
}

.fig-cap {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
  color: var(--normal-text-color);
  letter-spacing: 0.06em;
}

.fig-cap-secondary {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
  color: var(--paragraph-text-color);
  letter-spacing: 0.03em;
}

.name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--normal-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

.job {
  font-size: 16px;
  line-height: 1.2;
  color: var(--paragraph-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 16px;
}

.item {
  margin: 0;
  padding: 0;
  width: auto;
}
.poster {
  width: 370px;
  height: 404px;
  background: var(--white);
  border: 1px solid #eeeeee;
  /* margin: 0;
  padding: 0; */
  margin: 0 auto;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-items {
  padding-top: 20px;
  /* padding-bottom: 20px; */
  display: flex;
  flex-direction: column;
  line-height: calc(24 / 14);
  gap: 9px;
}
